body {
  font-family: 'Inter Variable', sans-serif;
  color: red;
}

button:not(:disabled, [aria-disabled='true'], [data-disabled='true']) {
  cursor: pointer;
}

button:disabled,
[aria-disabled='true'],
[data-disabled='true'] {
  cursor: not-allowed;
}
