body {
  font-family: 'Inter Variable', sans-serif;
  color: red;
  margin: 0;
}

pre,
code,
kbd,
samp {
  /* TODO: remove !important */
  font-family: 'JetBrains Mono Variable', monospace !important;
}
